body {
    font-family: Arial, sans-serif;
    background-color: #13c1b863;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240522/pngtree-airplane-wing-view-during-sunset-with-fantastic-purple-colors-image_15692926.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed during scrolling */
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #13c1b863;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="month"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #ef0ec6;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ef0ec6;
}
